body {
  background-color: #282c35; /* Dark background color */
  color: #fff; /* Light text color */
  margin: 0;
  font-family: 'Arial', sans-serif; /* Default font */
}

.app-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.05); /* Slightly transparent container background */
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  transition: background-color 0.3s ease; /* Smooth transition on background color change */
}

.todo-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.todo {
  color: #fff;
  background-color: #3498db;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease;
}

.todo:hover {
  background-color: #2980b9; /* Slightly darker blue on hover */
}

.dark-mode {
  background-color: #2c3e50; /* Darker background color for dark mode */
  color: #ecf0f1;
}

.todo.dark-mode {
  color: #000; /* Set the default text color (black) for dark mode */
}

.dark-mode .header-container {
  background-color: #27343a; /* Darker blue background for header container */
}

.dark-mode .title h1 {
  color: #fff;
  margin: 0;
  padding: 10px;
}

.dark-mode .dbttn {
  color: #fff; /* Set the initial color for dark mode */
}



.dbttn {
  
border-radius: 20px;
width: auto;
}

.dark-mode .dbttn {
  color: #fff; /* Set the initial color for dark mode */
}




.headers {
  text-align: center;
  color: #3498db;
  font-size: 24px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .headers {
    font-size: 20px; /* Adjusted font size for better mobile readability */
  }
}
