.app-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .todo-container {
    margin-top: 20px;
    display: gd;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }
  