.app-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .todo-container {
    margin-top: 20px;
    display: gd;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }

  /* Home.css */

body {
  background-color: lightgray; /* Default background color */
  color: black; /* Default text color */
  margin: 0;
}

.dark-mode {
  background-color: rgb(49, 49, 49); /* Dark mode background color */
  color: white; /* Dark mode text color */
}
/* Home.css */
.todo {
  color: #000; /* Set the default text color (black) */
}
.dark-mode .header-container {
  background-color: #006e72;
}

.dark-mode .title h1 {
  color: #fff;
  margin: 0;
  padding: 10px;
}
.dark-mode .dbttn {
  color: #fff;
}
.dbttn {
  background-color: transparent;
  color: black;

  text-align: center;
}
.dbttn:hover {
  background-color: transparent;
}
.headers{
  text-align: center;
}

  