.priority-container {
    margin-top: 10px;
    padding: 10px;
  }
  
  .priority-container label {
    margin-right: 10px;
    font-weight: bold;
  }
  
  .priority-container select {
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  .time-tracking-container{
    color: rgb(0, 0, 0);
  }
  .dark-mode .time-tracking-container{
    color: rgb(0, 0, 0);
  }

  .priority {
    color: black;
  }
  .dark-mode .priority-container{
    color: rgb(0, 0, 0);
  }