.priority-container {
  margin-top: 10px;
  padding: 10px;
}
.priority-container label {
  margin-right: 10px;
  font-weight: bold;
  color: #333; /* Dark label color */
}

.btn-container {
  transition: background-color 0.3s ease;
  text-align: center;
}
  
.priority-container select {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #333; /* Dark text color */
}

.time-tracking-container {
  color: #000000; /* Dark text color */
}
.dark-mode .time-tracking-container{
  color: #000000;
}
.dark-mode .priority-container {
  color: #ccc; /* Light text color in dark mode */
}

.priority {
  color: #333; /* Dark text color */
}

.dark-mode .priority {
  color: #ccc; /* Light text color in dark mode */
}
@media screen and (max-width: 767px) {
  .priority-container label {
    display: block;
    margin-bottom: 5px; /* Add space between label and select on small screens */
  }
  
  .priority-container select {
    width: 100%; /* Make the select full-width on small screens */
  }
}