/* Header.css */
.header-container {
    background-color: #333;
    color: white;
    padding: 10px 0;
  }
  
  .nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
  }
  
  .nav-bar a {
    text-decoration: none;
    color: white;
    margin-right: 15px;
    font-weight: bold;
  }
  
  .userAction {
    display: flex;
    align-items: center;
  }
  
  .userAction a {
    margin-right: 15px;
  }
  
  button {
    background-color: #3498db;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #2980b9;
  }

  .logout-but button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #236f86; /* Red color, you can change it */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  .dark-mode .logout-but button{
    background-color: rgb(49, 49, 49);
  }
  
  .logout-but button:hover {
    background-color: #006e72; /* Lighter red on hover, you can change it */
  }
  .dark-mode .header-container {
    background-color: #006e72;
  }
  
  .dark-mode .todo {
    color: #000000; /* Set the text color for dark mode (white) */
  }
  .dark-mode {
    background-color: rgb(49, 49, 49); /* Dark mode background color */
  color: white;
  }
  