/* Header.css */
.header-container {
  background-color: #333;
  color: white;
  padding: 15px 0; /* Increased top and bottom padding for better spacing */
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  
}

.nav-bar a {
  text-decoration: none;
  color: white;
  margin-right: 20px; /* Increased margin for better spacing */
  font-weight: bold;
  font-size: 16px; /* Slightly increased font size */
  transition: color 0.3s ease;
}

.nav-bar a:hover {
  color: #3498db; /* Change to your preferred hover color */
}

  
.userAction {
  display: flex;
  align-items: center;
}

.userAction a {
  margin-right: 20px; /* Increased margin for better spacing */
  color: #3498db;
  font-size: 16px; /* Slightly increased font size */
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 12px 20px; /* Adjusted padding for a more balanced button */
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

.logout-but button {
  padding: 12px 25px; 
  font-size: 16px; 
  width: auto;
  border-radius: 20px;

}

.logout-but button:hover {
  background-color: #006e72;
}

.dark-mode .header-container {
  background-color: #343b3b;
}

.dark-mode .nav-bar a,
.dark-mode .todo {
  color: #fff;
}

.dark-mode {
  background-color: rgb(49, 49, 49);
  color: white;
}
@media screen and (max-width: 667px) {
  .nav-bar {
    flex-direction: column; /* Stack navigation items vertically on small screens */
  }

  .nav-bar a,
  .userAction a,
  button,
  .logout-but button {
    margin: 10px 0; /* Add spacing between elements on small screens */
    width: 100%; /* Make buttons and links full-width on small screens */
  }
}
.user-info-container {
  padding: 20px;
  text-align: center;
  margin-top: 20px;
}

.welcome-message {
  background: linear-gradient(to right, #5effa7, #87cefa); /* Adjusted bright linear gradient */
  -webkit-background-clip: text;
  color: transparent;
  font-size: 24px;
  margin-bottom: 10px;
}

.user-email {
  background: linear-gradient(to right, #5effa7, #87cefa); /* Adjusted bright linear gradient */
  -webkit-background-clip: text;
  color: transparent;
  font-size: 18px;
}
