@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");

.App {
  align-items: center;
  justify-content: center;
}
body {
  background: linear-gradient(to right, #77b5df, #7e8df1);
}
.title h1 {
  color: #333;
  text-align: center;
  margin: 30px 0;
  font-family: "Poppins", sans-serif;
  font-weight: 700;
  font-size: 2.5em;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
}

form {
  max-width: 500px;
  margin: 0 auto;
  background: #fff;
  padding: 30px;
  margin-top: 50px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
}
form h3 {
  text-align: center;
}
form input {
  width: 100%;
  padding: 10px 5px;
  outline: none;
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.input_container {
  margin-bottom: 20px;
}
.btn_container {
  text-align: center;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
}
.btn_container button {
  background: #333;
  color: white;
  padding: 10px 20px;
  outline: none;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.btn_container button:hover {
  background: #555;
}
.todo_container {
  width: 50%;
  margin: 0 auto;
}
.todo {
  margin-top: 20px;
  background: #fff;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.todo input {
  cursor: pointer;
  width: 70%;
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  font-size: 18px;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}
.button-complete,
.button-delete,
.button-edit {
  border: none;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border-radius: 50%;
  font-size: 20px;
  transition: color 0.3s ease;
}
#i {
  font-size: 35px;
}
.button-complete {
  color: #95faa3;
  margin-right: 10px;
}
.button-complete:hover {
  color: #3fdb7a; /* A shade of green */
}

.button-edit {
  color: #56cfff;
  margin-right: 10px;
}
.button-edit:hover {
  color: #2ca9ff; /* A shade of blue */
}
.button-delete {
  color: rgb(255, 122, 98);
}
.button-delete:hover {
  color: #ff6161; /* A shade of red */
}
@media screen and (max-width: 667px) {
  .todo_container {
    width: 90%;
  }
}

  .task {
    margin-right: 0px;
  }

input:focus,
button:focus {
  outline: none;
  border: 2px solid #56cfff; /* A shade of blue */
}
